    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">MenuMaker</a>
        <ul class="right hide-on-med-and-down">
          <li><a onclick="setEventAction('showHomePage')" href="#">Home Page</a></li>
          <li><a onclick="setEventAction('showMenuMaker')" href="#">Menu Maker</a></li>
          <li><a onclick="setEventAction('showAccount')" href="#">My Account</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">My Menus</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>